apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Craig environment overlay - excludes Image Factory capability
resources:
  - ../../../argocd
  - ../../../talos
  - ../../../eda
  - ../../../backstage
  - ../../../supporting-applications
  # - ../../../seed-app

components:
  - ../../../../_common/components/argocd-branch-targetrevision

configMapGenerator:
  - name: argocd-branch-targetrevision
    namespace: argocd
    behavior: add
    literals:
      - targetRevision=feature/backstage-events

generatorOptions:
  disableNameSuffixHash: true

# Craig-specific patches
patches:
  - target:
      kind: Ingress
      name: argocd-server-ingress
    patch: |-
      - op: add
        path: /metadata/annotations/cert-manager.io~1cluster-issuer
        value: letsencrypt-prod
      - op: replace
        path: /spec/rules/0/host
        value: argocd.127.0.0.1.nip.io