apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
  - argocd-namespace.yaml
  - argocd-ingress.yaml
  - argocd-projects.yaml

patchesStrategicMerge:
  - namespace-patch.yaml

patches:
  - target:
      kind: ConfigMap
      name: argocd-cm
    patch: |-
      - op: add
        path: /data/kustomize.buildOptions
        value: --enable-helm
      - op: add
        path: /data/resource.customizations.health.networking.k8s.io_Ingress
        value: |
          hs = {}
          hs.status = "Healthy"
          return hs
  - target:
      kind: ConfigMap
      name: argocd-cmd-params-cm
    patch: |-
      - op: add
        path: /data
        value:
          server.insecure: "true"