apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/supporting-apps
  # - ../../base/mesh
  - argocd-ingress.yaml
  - traefik-tls-store.yaml

configMapGenerator:
  - name: argocd-branch-targetrevision
    behavior: add
    literals:
      - targetRevision=feature/pi

generatorOptions:
  disableNameSuffixHash: true

components:
  - ../../../_common/components/argocd-branch-targetrevision

patches:
 - target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: camel-k-mesh
   path: patch-argocd-eda-bootstrap.yaml