apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - ../../rabbitmq

configMapGenerator:
  - name: argocd-branch-targetrevision
    namespace: argocd
    behavior: add
    literals:
      - targetRevision=feature/backstage-events
  - name: ingress-environment-config
    literals:
      - localDomainSuffix=lab.local.ctoaas.co
      - publicDomainSuffix=lab.ctoaas.co
      - ingressClass=traefik
      - tlsEnabled=letsencrypt-prod
      - annotations=cert-manager.io/cluster-issuer=letsencrypt-prod

patches:
  - target:
      group: argoproj.io
      version: v1alpha1
      kind: ApplicationSet
      name: eda-mesh-lob-applications
    path: patch-feature-branch.yaml

generatorOptions:
  disableNameSuffixHash: true

components:
  - ../../../../../platform/kustomize/_common/components/argocd-branch-targetrevision
  - ../../../../../platform/kustomize/_common/components/ingress-management
