apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - ../../rabbitmq

configMapGenerator:
  - name: argocd-branch-targetrevision
    namespace: argocd
    behavior: add
    literals:
      - targetRevision=feature/backstage-events

patches:
  - target:
      group: argoproj.io
      version: v1alpha1
      kind: ApplicationSet
      name: eda-mesh-lob-applications
    path: patch-feature-branch.yaml

generatorOptions:
  disableNameSuffixHash: true

  annotations:
    argocd.argoproj.io/sync-options: Prune=false
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    
components:
  - ../../../../../platform/kustomize/_common/components/argocd-branch-targetrevision
