apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - ../../rabbitmq
  - ../../backstage-catalog-api

configMapGenerator:
  - name: argocd-branch-targetrevision
    namespace: argocd
    behavior: add
    literals:
      - targetRevision=feature/backstage-events

generatorOptions:
  disableNameSuffixHash: true

  annotations:
    argocd.argoproj.io/sync-options: Prune=false
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    
components:
  - ../../../../../platform/kustomize/_common/components/argocd-branch-targetrevision


helmGlobals:
  chartHome: ../../../../../helm

helmCharts:
  # Multiple platform services using enhanced array-based format
  - name: traefik-ingress
    releaseName: platform-services
    valuesInline:
      # Global configuration
      domains:
        localDomainSuffix: lab.local.ctoaas.co
        publicDomainSuffix: lab.ctoaas.co
      tls:
        enabled: true
        issuer: letsencrypt-prod
      
      # Array of ingress configurations
      ingresses:
      
        # RabbitMQ Management - internal access only
        - service:
            name: eda-mesh-rabbitmq
            namespace: eda-mesh
            port:
              name: management
          ingress:
            name: rabbitmq-ingress
            accessPattern: internal
          # domains:
          #   name: rabbitmq
          tls:
            secretName: rabbitmq-ctoaas-tls