.temp
.DS_Store
.backstage-acceptance-artifacts/*/
.backstage-acceptance-artifacts/verification.log
__pycache__
.pytest_cache
.hypothesis/
node_modules
.venv
# Ignore the charts folder when we use helmCharts in kustomize
# if we run kustomize locally
platform/kustomize/seed/supporting-applications/**/charts

test-results.xml