apiVersion: v1
kind: ConfigMap
metadata:
  name: code-server-ssh-config
  namespace: code-server
data:
  config: |
    Host github.com
        HostName github.com
        User git
        IdentityFile ~/.ssh/id_rsa
        StrictHostKeyChecking no
        UserKnownHostsFile /dev/null
    
    Host gitlab.com
        HostName gitlab.com
        User git
        IdentityFile ~/.ssh/id_rsa
        StrictHostKeyChecking no
        UserKnownHostsFile /dev/null
    
    Host *
        IdentityFile ~/.ssh/id_rsa
        StrictHostKeyChecking no
        UserKnownHostsFile /dev/null