# Ingress Management Component (Internal Domain Only)
# Transforms ingress resources with ingress.ctoaas.co/managed: "true" label
# Applies internal domain suffix and TLS configuration
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

generatorOptions:
  disableNameSuffixHash: true
  annotations:
    argocd.argoproj.io/sync-options: Prune=false
    argocd.argoproj.io/compare-options: IgnoreExtraneous

replacements:
  # Transform host to internal domain for all managed ingresses
  - source:
      kind: ConfigMap
      name: ingress-environment-config
      fieldPath: data.localDomainSuffix
    targets:
      - select:
          kind: Ingress
          labelSelector: ingress.ctoaas.co/managed=true
        fieldPaths:
          - spec.rules.0.host
        options:
          delimiter: "."
          index: 1

  # Update ingress class for all managed ingresses
  - source:
      kind: ConfigMap
      name: ingress-environment-config
      fieldPath: data.ingressClass
    targets:
      - select:
          kind: Ingress
          labelSelector: ingress.ctoaas.co/managed=true
        fieldPaths:
          - spec.ingressClassName
        options:
          create: true

  # Add cert-manager cluster issuer annotation for all managed ingresses
  - source:
      kind: ConfigMap
      name: ingress-environment-config
      fieldPath: data.tlsEnabled
    targets:
      - select:
          kind: Ingress
          labelSelector: ingress.ctoaas.co/managed=true
        fieldPaths:
          - metadata.annotations.[cert-manager.io/cluster-issuer]
        options:
          create: true

# Note: TLS configuration (hosts and secretName) should be added manually to ingress resources
# or through patches in overlays, as kustomize replacements don't handle self-referential
# transformations well with multiple resources.