apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: backstage-kargo

resources:
  - project.yaml
  - warehouse.yaml
  - stage-local.yaml
  - backstage-verification.yaml
  - namespace-patch.yaml

components:
  - ../../app/tests/acceptance
  - ../../app/plugins/eda/tests/acceptance
  - ../../app/plugins/image-factory/tests/acceptance

configMapGenerator:
  - name: backstage-acceptance-scripts
    files:
      - scripts/post_deployment_e2e.py
      - scripts/setup_traefik_hosts.sh
      - scripts/requirements.txt
    options:
      labels:
        app: backstage-acceptance
        component: test-scripts
      disableNameSuffixHash: true