# Traefik configuration for Talos single-node cluster

# Override image to use a different registry to avoid Docker Hub rate limits
image:
  registry: ghcr.io
  repository: traefik/traefik
  tag: "v3.1.6"
  pullPolicy: IfNotPresent

providers:
  kubernetesCRD:
    enabled: true
  kubernetesIngress:
    enabled: true
  # kubernetes:
  #   enabled: true

# Use LoadBalancer service instead of hostNetwork to avoid Pod Security issues
service:
  type: LoadBalancer
  spec:
    externalIPs:
      - 192.168.32.59

# Enable dashboard
# api:
#   enabled: true
#   dashboard: true
#   insecure: true
ingressRoute:
  dashboard:
    # -- Create an IngressRoute for the dashboard
    enabled: true
    matchRule: Host(`traefik.lab.local.ctoaas.co`)
    entryPoints:
      - websecure

# Tolerations for control-plane scheduling
tolerations:
  - key: node-role.kubernetes.io/control-plane
    operator: Exists
    effect: NoSchedule

logs:
  general:
    level: DEBUG