apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ .Values.name }}
    app.kubernetes.io/runtime: python
    backstage.io/kubernetes-id: {{ .Values.name }}
  name: {{ .Values.name }}-uv
  namespace: {{ .Values.namespace }}
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  selector:
    app.kubernetes.io/name: {{ .Values.name }}
  type: ClusterIP
