apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: backstage

resources:
  - ../../base

# Image will be updated by Kargo
images:
  - name: ghcr.io/craigedmunds/backstage
    newTag: 0.6.2  # Kargo will update this
