apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

resources:
  - namespace.yaml

helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 78.0.0
    namespace: observability
    valuesInline:
      thanosRuler:
        service:
          enabled: false
      alertmanager:
        enabled: false