apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: backstage-catalog-api-api
    backstage.io/kubernetes-id: backstage-catalog-api-api
  name: backstage-catalog-api-api-config
# TODO : Can be pull in the files rather than embed it directly?
data:
  pyproject.toml: |
    [project]
    name = "example-api"
    version = "0.1.0"
    description = "Example UV application"
    requires-python = ">=3.11"

    dependencies = [
        "fastapi",
        "uvicorn",
        "pyyaml",
        "kubernetes",
    ]

  app.py: |
    from fastapi import FastAPI, Request
    from kubernetes import client, config
    from fastapi.responses import PlainTextResponse
    import yaml
    import os

    app = FastAPI()

    # Load Kubernetes in-cluster config
    config.load_incluster_config()
    v1 = client.CoreV1Api()


    def detect_scheme_host(request: Request):
        proto = request.headers.get("x-forwarded-proto", request.url.scheme)
        host = request.headers.get("x-forwarded-host", request.headers.get("host"))
        return proto, host


    @app.get("/", response_class=PlainTextResponse)
    def list_catalog_items(request: Request):
        proto, host = detect_scheme_host(request)

        cms = v1.list_config_map_for_all_namespaces(
            label_selector="eda.io/backstage-catalog=true"
        )

        targets = []
        for cm in cms.items:
            ns = cm.metadata.namespace
            name = cm.metadata.name
            targets.append(f"{proto}://{host}/{ns}/{name}")

        body = {
            "apiVersion": "backstage.io/v1alpha1",
            "kind": "Location",
            "metadata": { "name": "backstage-catalog-api-root" },
            "spec": {"targets": targets},
        }

        return PlainTextResponse(
            yaml.dump(body, sort_keys=False),
            media_type="application/yaml"
        )


    @app.get("/{namespace}/{configmap}", response_class=PlainTextResponse)
    def read_single_cm(namespace: str, configmap: str):
        try:
            cm = v1.read_namespaced_config_map(configmap, namespace)
        except client.exceptions.ApiException as e:
            return PlainTextResponse(f"# Error: {e.reason}\n", media_type="application/yaml")

        if not cm.data:
            return PlainTextResponse(
                f"# No data entries found in ConfigMap {configmap}\n",
                media_type="application/yaml"
            )

        combined = "\n".join(cm.data.values()) + "\n"

        return PlainTextResponse(combined, media_type="application/yaml")
