apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argo-rollouts

resources:
  - namespace.yaml

helmCharts:
  - name: argo-rollouts
    repo: https://argoproj.github.io/argo-helm
    version: 2.40.5
    namespace: argo-rollouts
    valuesInline:
      dashboard:
        enabled: true
        ingress:
          enabled: true
          annotations:
            traefik.ingress.kubernetes.io/router.entrypoints: websecure
            traefik.ingress.kubernetes.io/router.tls: "true"
          hosts:
            - argo-rollouts.lab.ctoaas.co
          pathType: Prefix
      
      # Configure log streaming for AnalysisRuns
      controller:
        component: rollouts-controller
        logLevel: info
      
      # Add ConfigMap data for log streaming
      configMap:
        create: true
        data:
          logLevel: info