apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../cluster-config
  - ../../../base
  - argocd-projects.yaml
  - letsencrypt-issuer.yaml

components:
  - ../../../../kustomize/_common/components/argocd-branch-targetrevision

configMapGenerator:
  - name: argocd-branch-targetrevision
    behavior: add
    literals:
      - targetRevision=feature/backstage-events

patches:
 - target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: eda-bootstrap
   path: patch-argocd-eda-bootstrap.yaml
 - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: argocd-server-ingress
   path: patch-argocd-ingress.yaml

generatorOptions:
  disableNameSuffixHash: true