# Camel K Integration YAML (rendered by Helm)

{{- $service := .Values.name }}

{{- $subscriptions := fromYamlArray .Values.subscriptions }}

{{- range $v := $subscriptions  }}
{{- $event := lower $v.event }}

{{- $domain := $v.domain }}
{{- $subdomain := $v.subdomain }}

# {{- $lob := $v.lob }}
# {{- $lobService := $v.service }}
{{- $destinationUri := $v.destination.uri }}

- route:
    from:
      uri: "kamelet:spring-rabbitmq-source"
      parameters:
        host: "eda-mesh-rabbitmq.eda-mesh.svc.cluster.local"
        port: 5672
        # TODO : we shouldn't need exchange name; must be mandatory in the kamelet...
        exchangeName: ex.{{ $domain }}.{{ $subdomain }}.{{ $event }}
        queues: q.{{ $service }}.{{ $domain }}.{{ $subdomain }}.{{ $event }}
        username: "{{`{{secret:eda-mesh-rabbit-user/username}}`}}"
        password: "{{`{{secret:eda-mesh-rabbit-user/password}}`}}"
      steps:
      - log: ${body}
      - to:
          uri: {{ $destinationUri }}
{{- end }}
            
