apiVersion: v1
kind: ConfigMap
metadata:
  name: catalog-component-eda-mesh-consumer-{{.Values.name}}
  namespace: backstage
  labels:
    eda.io/backstage-catalog: "true"
data:
  catalog: |
    apiVersion: backstage.io/v1alpha1
    kind: System
    metadata:
      name: {{.Values.name}}
      description: A mesh consumer system
    spec:
      owner: apim
    ---
    apiVersion: backstage.io/v1alpha1
    kind: Component
    metadata:
      name: {{.Values.name}}
      annotations:
        backstage.io/kubernetes-id: eda-mesh-consumer-{{.Values.name}}
    spec:
      type: service
      lifecycle: production
      owner: apim
      system: {{.Values.name}}
      consumesApis:
{{- $subscriptions := fromYamlArray .Values.subscriptions }}
{{- range $v := $subscriptions  }}
{{- $event := lower $v.event }}
{{- $lob := $v.lob }}
{{- $lobService := $v.service }}
{{- $domain := $v.domain }}
{{- $subdomain := $v.subdomain }}
        - {{ $domain }}-{{ $subdomain }}
{{- end }} 
