{{- $service := .Values.name }}

{{- $subscriptions := fromYamlArray .Values.subscriptions }}

{{- range $v := $subscriptions  }}
{{- $event := lower $v.event }}

{{- $domain := $v.domain }}
{{- $subdomain := $v.subdomain }}

{{- $lob := $v.lob }}
{{- $lobService := $v.service }}

apiVersion: rabbitmq.com/v1beta1
kind: Queue
metadata:
  name: consumer-{{ $service }}-{{ $domain }}-{{ $subdomain }}{{ $event }}
  namespace: eda-mesh
spec:
  name: q.{{ $service }}.{{ $domain }}.{{ $subdomain }}.{{ $event }}
  autoDelete: false
  durable: true
  rabbitmqClusterReference:
    name: eda-mesh
---
apiVersion: rabbitmq.com/v1beta1
kind: Binding
metadata:
  name: consumer-{{ $service }}-{{ $domain }}-{{ $subdomain }}-{{ $event }}-binding
  namespace: eda-mesh
spec:
  destination: q.{{ $service }}.{{ $domain }}.{{ $subdomain }}.{{ $event }}
  source: ex.{{ $domain }}.{{ $subdomain }}.{{ $event }}
  destinationType: queue
  rabbitmqClusterReference:
    name: eda-mesh
{{- end }}