apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Niv environment overlay - basic configuration
resources:
  - ../../../argocd
  - ../../../eda
  - ../../../backstage
  - ../../../image-factory
  - ../../../supporting-applications

generatorOptions:
  disableNameSuffixHash: true

# Niv-specific patches
patches:
  - target:
      kind: Ingress
      name: argocd-server-ingress
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: argocd.127.0.0.1.nip.io