apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Niv environment overlay - minimal configuration
resources:
  - ../../../argocd
  - ../../../eda
  - ../../../backstage
  - ../../../image-factory
  - ../../../supporting-applications
  # - ../../../seed-app

generatorOptions:
  disableNameSuffixHash: true