apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - ../../rabbitmq

configMapGenerator:
  - name: argocd-branch-targetrevision
    namespace: argocd
    behavior: add
    literals:
      - targetRevision=feature/backstage-events

generatorOptions:
  disableNameSuffixHash: true

components:
  - ../../../../../platform/kustomize/_common/components/argocd-branch-targetrevision
