apiVersion: v1
kind: ConfigMap
metadata:
  name: catalog-component-camel-k-mesh-{{.Values.lob}}-{{.Values.name}}
  namespace: backstage            # or your app ns; just mount it where Backstage runs
data:

{{- $lob := .Values.lob }}
{{- $service := .Values.name }}

{{- $asyncapispec := fromYaml .Values.asyncapispec }}
{{- range $k, $v := $asyncapispec.channels }}

{{- $event := lower $k }}

  catalog-component-camel-k-mesh-{{ $lob }}-{{ $service }}-{{ $event }}.yaml: |
    apiVersion: backstage.io/v1alpha1
    kind: Component
    metadata:
      name: {{ $lob }}-{{ $service }}-{{ $event }}
      annotations:
        backstage.io/kubernetes-id: camel-k-mesh-{{ $lob }}-{{ $service }}-{{ $event }}
    spec:
      type: service
      lifecycle: production
      owner: apim
      system: {{ $lob }}-lob
      subcomponentOf: {{ $lob }}-{{ $service }}
    ---
    apiVersion: backstage.io/v1alpha1
    kind: Component
    metadata:
      name: {{ $lob }}-{{ $service }}-{{ $event }}-topic
      annotations:
        backstage.io/kubernetes-id: camel-k-mesh-{{ $lob }}-{{ $service }}-{{ $event }}-topic
    spec:
      type: topic
      lifecycle: production
      owner: apim
      system: {{ $lob }}-lob
      subcomponentOf: {{ $lob }}-{{ $service }}-{{ $event }}
    ---
{{- end }}

  catalog-component-camel-k-mesh-{{.Values.lob}}-{{.Values.name}}.yaml: |
    apiVersion: backstage.io/v1alpha1
    kind: Component
    metadata:
      name: {{.Values.lob}}-{{.Values.name}}
      annotations:
        backstage.io/kubernetes-id: camel-k-mesh-{{.Values.lob}}-{{.Values.name}}
    spec:
      type: service
      lifecycle: production
      owner: apim
      system: {{.Values.lob}}-lob
      providesApis:
        - {{.Values.lob}}-{{.Values.name}}
    ---
    apiVersion: backstage.io/v1alpha1
    kind: API
    metadata:
      name: {{.Values.lob}}-{{.Values.name}}
      description: Does stuff
    spec:
      type: asyncapi
      lifecycle: production
      owner: apim
      system: {{.Values.lob}}-lob
      definition: |
{{ .Values.asyncapispec | indent 8 }}
