apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cert-manager

resources:
  - namespace.yaml

helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    version: v1.19.1
    namespace: cert-manager
    valuesInline:
      crds:
        enabled: true
      # Configure cert-manager controller to use cert-manager namespace for leader election
      extraArgs:
        - --leader-election-namespace=cert-manager
      # Configure cainjector to use cert-manager namespace for leader election
      cainjector:
        extraArgs:
          - --leader-election-namespace=cert-manager
      # Configure cert-manager to use external DNS servers for SOA record resolution
      podDnsPolicy: "None"
      podDnsConfig:
        nameservers:
          - "8.8.8.8"
          - "1.1.1.1"
        searches:
          - "ctoaas.co"
        options:
          - name: ndots
            value: "2"
          - name: edns0