apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: backstage
resources:
- ../../base
# Image will be updated by Kargo
images:
- name: ghcr.io/craigedmunds/backstage
  newTag: 0.7.7 # Kargo will update this
# Add Traefik annotations to the service
patches:
- target:
    kind: Service
    name: backstage
  patch: |-
    - op: add
      path: /metadata/annotations/traefik.ingress.kubernetes.io~1router.expose
      value: "true"
    - op: add
      path: /metadata/annotations/traefik.ingress.kubernetes.io~1router.rule
      value: Host(`backstage.lab.local.ctoaas.co`)
    - op: add
      path: /metadata/annotations/traefik.ingress.kubernetes.io~1router.entrypoints
      value: websecure
    - op: add
      path: /metadata/annotations/traefik.ingress.kubernetes.io~1router.tls
      value: "true"
    - op: add
      path: /metadata/annotations/traefik.ingress.kubernetes.io~1router.tls.certresolver
      value: letsencrypt-prod
    - op: add
      path: /metadata/annotations/traefik.ingress.kubernetes.io~1service.port
      value: "7007"

