apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: backstage
resources:
- ../../base
configMapGenerator:
- name: ingress-environment-config
  literals:
  - localDomainSuffix=lab.local.ctoaas.co
  - publicDomainSuffix=lab.ctoaas.co
  - ingressClass=traefik
  - tlsEnabled=letsencrypt-prod
  - annotations=cert-manager.io/cluster-issuer=letsencrypt-prod
generatorOptions:
  disableNameSuffixHash: true
# Image will be updated by Kargo
images:
- name: ghcr.io/craigedmunds/backstage
  newTag: 0.7.6 # Kargo will update this
# Components transform ingress based on environment config
# Only private component for backstage (internal access only)
components:
- ../../../../platform/kustomize/_common/components/ingress-management
