apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: backstage
resources:
- ../../base

# Image will be updated by Kargo
images:
- name: ghcr.io/craigedmunds/backstage
  newTag: 0.7.11-draft-20-merge


helmGlobals:
  chartHome: ../../../../helm

helmCharts:
  - name: traefik-ingress
    releaseName: backstage-ingress
    valuesInline:
      # Global configuration
      domains:
        localDomainSuffix: lab.local.ctoaas.co
      tls:
        enabled: true
        issuer: letsencrypt-prod
      
      # Array of ingress configurations
      ingresses:
        - service:
            name: backstage
            namespace: backstage
            port:
              name: http-backend
              number: 7007
          ingress:
            accessPattern: internal  # Internal access only for Backstage
          tls:
            secretName: backstage-tls  # Use existing TLS secret

