apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: rabbitmq

resources:
  - namespace.yaml

helmCharts:
  - name: rabbitmq-cluster-operator
    releaseName: global
    repo: https://charts.bitnami.com/bitnami
    version: 4.4.34
    namespace: rabbitmq
    includeCRDs: true
    valuesInline:
      global:
        security:
          allowInsecureImages: true
      clusterOperator:
        image:
          repository: bitnamilegacy/rabbitmq-cluster-operator
      rabbitmqImage:
        repository: bitnamilegacy/rabbitmq
      credentialUpdaterImage:
        repository: bitnamilegacy/rmq-default-credential-updater
      msgTopologyOperator:
        image:
          repository: bitnamilegacy/rmq-messaging-topology-operator